<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>チャットボット質問ツール</title>
        <meta name="description" content="チャットボット質問ツール">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div id="app">
            <div class="container">
                <talk-adviser v-bind:first="true" v-if="count >= 1" v-on:countup="countUp">２つの方法で相場を計算することができます。</talk-adviser>
                <talk-adviser v-if="count >= 2" v-on:countup="countUp">どちらがご希望に近いですか？</talk-adviser>

                <select-calc v-bind:class="{hide: isHide}" v-if="count >= 3" v-on:hoge="selectedBtn"></select-calc>

                <talk-me v-if="count >= 4" v-on:alreadyRead="countUp">{{ selected }}です。</talk-me>

                <talk-adviser v-bind:first="true" v-if="count >= 5" v-on:countup="countUp">かしこまりました。</talk-adviser>
                <talk-adviser v-if="count >= 6" v-on:countup="countUp">あなたの費用を、データをもとに{{ selected }}します。</talk-adviser>
            </div>
        </div>
        <script src="https://unpkg.com/vue@next"></script>
        <script type="module" src="js/main.js"></script>
    </body>
</html>
